* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Red Hat Display", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(235, 235, 235);
}

.palette-container {
  width: 50vh;
  max-width: 300px;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.color {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  font-size: medium;
}

.button-container {
  margin-bottom: 10px;
}

button {
  width: 215px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);;
  border-radius: 20px;
  color: white;
  font-size: medium;
  text-shadow: 1px 1px rgb(0, 0, 0); 
}

#palette {
  min-width: 215px;
  margin-top: 10px;
}

.color-span {
  display: flex;
  justify-content: space-around;
  min-width: 215px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  color: beige;
  font-size: medium;
  text-shadow: 1px 1px rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);;
  border-radius: 20px;
}

i {
  cursor: pointer;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  margin: 0px 30px 24px 30px;
}

#toggle {
  display: none;
}

#label-toggle {  
  cursor: pointer;
}

.dark {
  background-color: rgb(35, 35, 35);
}