* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Red Hat Display", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color: rgb(235, 235, 235);
  transition: all 1.5s ease;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 250px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* Light-Dark Mode */

#label-toggle {
  margin-bottom: 10px;
  font-size: 1.3em;  
  cursor: pointer;
}

#toggle {
  display: none;
}

.dark {
  background-color: rgb(35, 35, 35);
  transition: all 1.5s ease;
}

/* Color Palette */

#palette {
  width: 315px;
  margin-top: 10px;
}

.color-span {
  display: flex;
  width: 315px;
  height: 40px;
  margin: 10px;
  padding: 10px;
  justify-content: space-around;
  font-size: 0.9em;
  font-weight: bold;
  border-radius: 20px;
  color: beige;
  text-shadow: 1px 1px rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);;
}

i {
  cursor: pointer;
}

/* RGB Ranges */

.color {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 315px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

.color-text {
  margin: 2px;
  padding: 2px;
}

/* Add Color Button */

button {
  width: 315px;
  height: 40px;
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  font-size: medium;
  font-weight: bold;
  color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px rgb(0, 0, 0);
  cursor: pointer; 
}

@media (max-width: 576px) {
  .main-container {
    width: 300px;
  }

  #palette {
    width: 215px;
  }

  .color-span {
    width: 215px;
  }

  .color {
    width: 215px;
  }

  button {
    width: 215px;
  }
}