* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Red Hat Display", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  background-color: rgb(235, 235, 235);
}

.main-container {
  width: 300px;
  min-height: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#label-toggle {
  margin-bottom: 10px;  
  cursor: pointer;
}

#toggle {
  display: none;
}

i {
  cursor: pointer;
}

.dark {
  background-color: rgb(35, 35, 35);
}

#palette {
  min-width: 215px;
  margin-top: 10px;
}

.color-span {
  display: flex;
  justify-content: space-around;
  min-width: 215px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  color: beige;
  font-size: medium;
  text-shadow: 1px 1px rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);;
  border-radius: 20px;
}

.color {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  width: 215px;
  font-size: medium;
}

button {
  width: 215px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);;
  border-radius: 20px;
  color: white;
  font-size: medium;
  text-shadow: 1px 1px rgb(0, 0, 0);
  cursor: pointer; 
}